{% extends "base.html" %}
{% load staticfiles %}

{% block page_title %}About{% endblock %}

{% block content %}
<link href="{% static "css/about.css" %}" rel="stylesheet" media="screen">

    <div class="jumbotron">
    	<div id="about" class="container">
    		<h1> About Cloud Control</h1>
        <p> Manage all your cloud storage from one login with <strong>Cloud Control</strong>. Connect to multiple services like Google Drive, Dropbox, and SkyDrive using one simple interface.
        </p>
        <ul>
          <li>Store and access your files across multiple cloud-based services.</li>
          <li>Copy and move files from one service to another without downloading to your computer.
          </li>
          <li>Share files with your friends and collegues.
          </li>
          <li>Supersize your free cloud storage <i>(create your own supercloud)</i>
          </li>
        </ul>
    	</div>
    </div>

{% endblock %}
