{% extends "base.html" %}
{% load staticfiles %}

{% block page_title %}MyCloud{% endblock %}

{% block content %}

<div class="container">

      <div class="row row-offcanvas row-offcanvas-left">

        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
          <div class="well sidebar-nav">
            <ul class="nav">
<style type="text/css">
    .provider-logo {
        float: left;
    }
    .label-text {
        margin-left: 5em;
        text-align: right;
        display: block;
    }
</style>
              <li><a href="#"><img id="UploadIcon" src="{% static "assets/images/upload.png" %}" /></a></li>
              <li><a href="#"><img class="provider-logo" id="driveIcon" src="{% static "assets/images/Drive-Icon.png" %}" /><label class="label-text">Google Drive</label></a></li>
              <li><a href="#"><img class="provider-logo" id="skydriveIcon" src="{% static "assets/images/skydrive.png" %}" /><label class="label-text">Skydrive</label></a></li>
              <li><a href="#"><img class="provider-logo" id="dropboxIcon" src="{% static "assets/images/dropbox.png" %}" /><label class="label-text">Dropbox</label></a></li>
              <li><a href="#">Tags</a>
                <ul>
                  <li><a href="#">EECS</a></li>
                  <li><a href="#">Math</a></li>
                  <li><a href="#">Wedding</a></li>
                  <li class="add-lable"><a href="#">Add...</a></li>
                </ul>
              </li>
              <li><a href="#">20% Full</a><a href="#">Buy more space</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->

        <div class="col-xs-6 col-sm-9">
            <div class="row">
                <div class="col-md-4">
                    <input name="q" type="text" class="search-text" />
                </div>
                <div class="col-md-2"><a href="#">[Notifications]</a></div>
                <div class="col-md-2"><a href="#">[Settings]</a></div>
                <div class="col-md-2"><a href="#">[ViewList]</a><a href="#">[ViewGrid]</a></div>
                <div class="col-md-2"><a href="#">[Share]</a></div>
            </div>

            <hr />

            <div class="row">
                <div class="col-md-4"><a href="#">Video</a></div>
                <div class="col-md-4"><a href="#">Picture</a></div>
                <div class="col-md-4"><a href="#">Document</a></div>
            </div>

            <hr />

            <div class="row">
                {% for file in files %}
                <div class="col-xs-4 col-sm-3 col-md-2">
                    <a href="#"><img src="{{ "/static/assets/images/"|add:file.type|add:".png" }}" alt="{{ file.type|title }}" /></a><br />
                    <a href="{{ file.link }}" target="_blank">{{ file.name }}</a><br />
                    <a href="#">
                        {{ file.tags|join:", " }}
                    </a>
                </div>
                {% endfor %}
            </div><!--/row-->
        </div><!--/span-->
      </div><!--/row-->

    </div><!--/.container-->

{% endblock %}
