{% extends "base.html" %}
{% load staticfiles %}

{% block page_title %}Marketplace{% endblock %}

{% block content %}
<link href="{% static "css/marketplace.css" %}" rel="stylesheet" media="screen">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

    <div class="jumbotron">
    	<div class="container">
        <div class="row">
          <div class="col-md-4">
            <div id="drive" class="panel">
              <h3>Google Drive</h3>
              <p>15gb</p>
            </div>
          </div>
          <div class="col-md-4">
            <div id="skydrive" class="panel">
              <h3>SkyDrive</h3>
              <p>10gb</p>
            </div> 
          </div>
          <div class="col-md-4">
            <div id="dropbox" class="panel">
              <h3>Dropbox</h3>
              <p>5gb</p>
            </div>
          </div>
        </div>

        <div id="arrows" class="row">
          <div class="col-md-4">
            <span id="arrowRight" class="glyphicon glyphicon-arrow-down"></span>
          </div>
          <div class="col-md-4">
            <span class="glyphicon glyphicon-arrow-down"></span>
          </div>
          <div class="col-md-4">
            <span id="arrowLeft" class="glyphicon glyphicon-arrow-down"></span>
          </div>          
        </div>

        <div class="row">
          <div class="col-md-12">
            <div id="cloudcontrol" class="panel">
              <h3>Cloud Control</h3>
              <p>30gb</p>
            </div>
          </div>
        </div>
    	</div>
    </div>

    <div id="usage" class="jumbotron">
      <div class="container">
        <div class="row">

          <div class="col-sm-6 col-md-4 col-md-offset-2">
            <div class="panel">
              <h3>Your usage breakdown</h3>
              <img id="cloudusage" src="{% static "assets/images/cloudusage.png" %}">
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="panel">
              <h3>Your overall usage</h3>
              <img id="cloudusage" src="{% static "assets/images/totalusage.png" %}">
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}
